html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 3.5ex;
}
body {
    padding: 20px 40px 40px 40px;
    color: #666;
    background-color: #eee;
}
img.screenshot {
    width: 100%
}
h1, h2, h3 {
    font-weight: normal;
    letter-spacing: -0.03em;
}
h1 {
    margin: 0 -20px 40px -20px;
    background-color: #666;
    color: #eee;
    font-size: 22px;
    padding: 20px;
    display: block;
    border-radius: 5px;
}
h1 img {
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -6px;
}
.advert {
    font-size: 9pt;
    color: cadetblue;
}